body {
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
}

.extension--heading {
    background: rgb(82, 145, 197);
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}
.extension--heading h3 {
    display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #ffffff;
margin-top: auto;
margin-bottom: auto;
margin-left: 5px;
}
.decrypt-passwords {
    margin: 5px;
}
div:not(.extension--heading){
    background-color: rgb(224, 224, 224);
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px 1px;
}

p {
    margin: 2px;
}